.newsletter-template {
  background: #dddddd;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  @media (max-width: 1155px) {
    border-left: 15px solid #008484;
  }
  .news-icon {
    background: #008484;
    vertical-align: middle;
    text-align: center;
    width: 157px;
    height: 127px;
    display: inline-block;
    padding: 38px 0 0 0;
    float: left;
    overflow: hidden;
    img {
      width: 60px;
      height: 48px;

    }
    @media (max-width: 1155px) {
      display: none;
    }
  }
  .news-content {
    width: 55%;
    display: inline-block;
    float: left;
    @media (max-width: 970px) {
      width: 60%;
    }
    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }
  .news-form {
    width: 30%;
    display: inline-block;
    padding: 45px 0 0 0;
    float: left;
    form {
      input {
        &[type="email"] {
          width: 65%;
          height: 37px;
          @media (max-width: 370px) {
            width: 100%;
            margin-bottom:10px;
          }
        }
        &[type="submit"] {
          height: 37px;
          border: none;
          background: #008484;
          color: #fff;
          font-size: 16px;
          padding: 0 10px 0 10px;
        }
      }
    }
    @media (max-width: 1155px) {
      padding: 18px 0 0 0;
    }
    @media (max-width: 970px) {
      width: 40%;
    }
    @media (min-width: 768px) and (max-width: 969px) {
      padding: 18px 0 16px 7px;
    }
    @media (max-width: 767px) {
      display: block;
      padding: 0 0 10px 7px;
      width: 80%;
    }
    @media (max-width: 370px) {
      width: 100%;
      padding-right:10px;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
    padding: 36px 0 0 20px;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Bitter', serif;
    @media (max-width: 1155px) {
      padding: 10px 15px 10px 7px;
    }
  }
  p {
    padding: 10px 0 0 20px;
    @media (max-width: 1155px) {
      padding: 0 0 0 7px;
    }
  }
  label {
    display: none;
  }
}