.newsletter-style {
  background:#dddddd;
  width:100%;
  box-sizing:border-box;
  overflow: hidden;
  .news-icon {
    background:#008484;
    vertical-align:middle;
    text-align:center;
    width:157px;
    height:121px;
    display:inline-block;
    padding:36px 0 0 0 ;
    float:left;
    img {
      width:60px;
      height:48px;

    }
  }
  h2 {
    margin:0;
    padding:0;
    font-size:1.4em;
    padding:36px 0 0 0 ;
  }
  p{
    padding:10px 0 0 0;
  }
  form {
    padding:40px 0 0 0 ;
    input{
      &[type="email"]{
        width:60%;
        height:37px;
      }
      &[type="submit"]{
        height:37px;
        border:none;
        background:#008484;
        color:#fff;
        font-size:16px;
        padding:0 10px 0 10px;
      }
    }
  }
}